html
html
   head
      title Register
   body
      form(action = "/register", method = "POST")
         div
            label(for = "name") Name:
            input(name = "name" value = "monish")
         br
         div
            label(for = "email") Email:
            input(name = "email" value = "monish@gmail.com")
         br
         div
            label(for = "number") Number:
            input(name = "number" value = "8208793805")
         br
         div
            label(for = "password") Password:
            input(name = "password" value = "Monish@1995")
         br
         div
            label(for = "state") state:
            input(name = "state" value = "maharastra")
         br
         div
            label(for = "city") city:
            input(name = "city" value = "nagpur")
         br
         button(type = "submit") submit
