html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "fname") Name:
            input(name = "fname" value = "monish")
         br
         div
            label(for = "age") age:
            input(name = "age" value = "20")
         br
         button(type = "submit") submit